/*Las variables van arriba de todo*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*Variables globales*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important; }

h1 {
  color: white; }

h2 {
  color: #e10e82;
  background-color: #e10e8223;
  padding-left: 8px;
  margin: 1rem 0rem; }

.main {
  margin: 0rem 2.5rem; }

.titulo-interno {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  background-color: #00b400;
  margin: 0rem -2.5rem;
  padding: 1rem 0rem;
  text-align: center; }

/*Secciones*/
.header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.logogame {
  width: 180px; }

.botones {
  list-style: none;
  display: flex; }
  .botones a {
    padding: 0rem 1rem;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700;
    font-size: 130%;
    text-decoration: none;
    color: #e10e82; }

@media (max-width: 768px) {
  .header {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .logogame {
    width: 180px;
    padding-bottom: 5px; } }

@media (max-width: 425px) {
  .header {
    padding: 1rem 0rem .5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .logogame {
    width: 160px;
    padding-bottom: 5px; }
  .botones {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .botones a {
      padding: 3px;
      font-weight: 700;
      font-size: 100%;
      text-decoration: none;
      color: #e10e82; }
    .botones ul {
      margin-top: 0;
      margin-bottom: 0rem !important;
      padding-left: 0rem !important; } }

.banner {
  margin: 0rem -2.5rem;
  background-image: url(https://images.unsplash.com/photo-1585504198199-20277593b94f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1017&q=80);
  height: 350px;
  background-size: cover;
  background-position-y: center; }
  .banner h1 {
    padding: 0rem 2rem;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    font-size: 350%;
    text-align: center;
    text-shadow: 2px 2px 3px #353535;
    text-transform: uppercase;
    position: relative;
    top: 40%; }

.productos-grid {
  margin: 2rem 0rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  grid-template-areas: "producto-uno producto-dos producto-tres" "producto-cuatro producto-cinco producto-seis"; }
  .productos-grid img {
    width: 28vw;
    margin-bottom: .5rem; }
  .productos-grid div {
    width: 28vw;
    padding: 3px; }
  .productos-grid h3 {
    font-family: "Roboto", sans-serif !important;
    color: #e10e82;
    background-color: #e10e8223;
    padding: 6px;
    font-size: 160%;
    font-weight: 700; }
  .productos-grid p {
    font-size: 120%;
    padding: 8px 4px; }
  .productos-grid button {
    margin-left: 8px;
    margin-bottom: 1rem;
    padding: 3px; }

.productos-grid-mesa {
  margin: 2rem 0rem 1rem 1.5rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  grid-template-areas: "producto-once producto-tres producto-cuatro" "producto-cinco . ."; }
  .productos-grid-mesa img {
    width: 28vw;
    margin-bottom: .5rem; }
  .productos-grid-mesa div {
    width: 28vw;
    padding: 3px; }
  .productos-grid-mesa h3 {
    color: #e10e82;
    background-color: #e10e8223;
    padding: 6px;
    font-size: 160%;
    font-weight: 700; }
  .productos-grid-mesa p {
    font-size: 120%;
    padding: 8px 4px; }
  .productos-grid-mesa button {
    margin-left: 8px;
    margin-bottom: 1rem;
    padding: 3px; }

.productos-grid-rol {
  margin: 2rem 0rem 1rem 1.5rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  grid-template-areas: "producto-siete producto-ocho producto-nueve" "producto-diez . ."; }
  .productos-grid-rol img {
    width: 28vw;
    margin-bottom: .5rem; }
  .productos-grid-rol div {
    width: 28vw;
    padding: 3px; }
  .productos-grid-rol h3 {
    color: #e10e82;
    background-color: #e10e8223;
    padding: 6px;
    font-size: 160%;
    font-weight: 700; }
  .productos-grid-rol p {
    font-size: 120%;
    padding: 8px 4px; }
  .productos-grid-rol button {
    margin-left: 8px;
    margin-bottom: 1rem;
    padding: 3px; }

.footer {
  background-color: #e10e82;
  padding-bottom: 30px; }
  .footer div {
    color: white;
    text-align: center;
    font-size: 120%;
    padding: 20px; }

.redes {
  list-style: none;
  display: flex;
  justify-content: space-evenly; }
  .redes img {
    height: 35px; }

.contacto p {
  font-size: 110%;
  padding: 8px; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem; }
  .formulario input {
    margin: .5rem; }
  .formulario textarea {
    margin: .5rem; }
  .formulario button {
    margin: .5rem; }

.blog p {
  font-size: 110%;
  padding: 8px; }

.blog ul {
  font-size: 110%;
  padding-left: 5vh;
  padding-bottom: 20px; }

.blog img {
  height: 100%;
  margin: 0rem -2.5rem; }

.banner-blog {
  margin: 0rem -2.5rem;
  background-image: url("https://educacion30.b-cdn.net/wp-content/uploads/2016/06/dixit-main-flickr.jpg");
  height: 350px;
  background-size: cover;
  background-position-y: 60%; }
