/*Las variables van arriba de todo*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/*Variables globales*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important; }

h1 {
  color: white;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 250%; }

h2 {
  color: #e10e82;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-size: 150%;
  background-color: #e10e8223;
  padding: 6px;
  margin: 1rem 0rem; }

.main {
  margin: 0rem 2.5rem; }

.titulo-interno {
  background-color: #00b400;
  margin: 0rem -2.5rem;
  padding: 1rem 0rem;
  text-align: center; }

@media (max-width: 768px) {
  div h1 {
    font-size: 150%; }
  .titulo-interno {
    padding: .5rem 0rem; }
  h2 {
    font-size: 130%;
    padding: 6px;
    margin: .5rem 0rem; } }

@media (max-width: 425px) {
  div h1 {
    font-size: 130%; }
  .titulo-interno {
    padding: .5rem 0rem; }
  h2 {
    font-size: 110%;
    padding: 6px;
    margin: .5rem 0rem; } }

/*Secciones*/
.bg-body-tertiary {
  --bs-bg-opacity: none;
  background-color: none; }

.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-size: 130%; }
  .header .navbar-nav .nav-link.active,
  .header .navbar-nav .show > .nav-link {
    color: #e10e82; }

.form-control {
  border: var(--bs-border-width) solid #e10e82; }

.btn {
  --bs-btn-color: white;
  background-color: #e10e82;
  --bs-btn-border-color: none; }

.logogame {
  width: 180px; }

@media (max-width: 768px) {
  .header {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column; }
  .logogame {
    width: 150px;
    padding-bottom: 5px; } }

@media (max-width: 425px) {
  .header {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .logogame {
    width: 140px;
    padding-bottom: 5px; } }

.banner {
  margin: 0rem -2.5rem;
  background-image: url(https://images.unsplash.com/photo-1585504198199-20277593b94f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1017&q=80);
  height: 350px;
  background-size: cover;
  background-position-y: center; }
  .banner h1 {
    padding: 0rem 2rem;
    text-align: center;
    font-size: 300%;
    text-shadow: 2px 2px 3px #353535;
    text-transform: uppercase;
    position: relative;
    top: 40%; }

.productos-grid {
  margin: 2rem 0rem 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  grid-template-areas: "producto-uno producto-dos producto-tres" "producto-cuatro producto-cinco producto-seis"; }
  .productos-grid img {
    width: 28vw;
    margin-bottom: .5rem; }
  .productos-grid div {
    width: 28vw;
    padding: 3px; }
  .productos-grid h3 {
    font-family: "Roboto", sans-serif !important;
    color: #e10e82;
    background-color: #e10e8223;
    padding: 6px;
    font-size: 160%;
    font-weight: 700; }
  .productos-grid p {
    font-size: 120%;
    padding: 8px 4px;
    margin-bottom: .5rem; }
  .productos-grid button {
    margin-left: 8px;
    margin-bottom: 1rem;
    padding: 3px; }

@media (max-width: 768px) {
  .productos-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "producto-uno producto-dos" "producto-tres producto-cuatro" "producto-cinco producto-seis"; }
    .productos-grid img {
      width: 38vw; }
    .productos-grid div {
      width: 38vw; }
    .productos-grid h3 {
      font-size: 120%;
      font-weight: 700; }
    .productos-grid p {
      font-size: 100%;
      padding: 4px 4px; }
    .productos-grid button {
      margin-left: 4px;
      margin-bottom: .5rem;
      padding: 2px; } }

@media (max-width: 425px) {
  .banner h1 {
    font-size: 220%;
    top: 25%; }
  .productos-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "producto-uno" "producto-dos" "producto-tres"  "producto-cuatro" "producto-cinco"  "producto-seis"; }
    .productos-grid img {
      width: 68vw; }
    .productos-grid div {
      width: 68vw; }
    .productos-grid h3 {
      font-size: 115%;
      font-weight: 700; }
    .productos-grid p {
      font-size: 90%;
      padding: 4px 4px; }
    .productos-grid button {
      margin-left: 4px;
      margin-bottom: .5rem;
      padding: 2px; } }

.productos-grid-mesa {
  margin: 2rem 0rem 1rem 1.5rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  grid-template-areas: "producto-once producto-tres producto-cuatro" "producto-cinco . ."; }
  .productos-grid-mesa img {
    width: 28vw;
    margin-bottom: .5rem; }
  .productos-grid-mesa div {
    width: 28vw;
    padding: 3px; }
  .productos-grid-mesa h3 {
    color: #e10e82;
    background-color: #e10e8223;
    padding: 6px;
    font-size: 160%;
    font-weight: 700; }
  .productos-grid-mesa p {
    font-size: 120%;
    padding: 8px 4px; }
  .productos-grid-mesa button {
    margin-left: 8px;
    margin-bottom: 1rem;
    padding: 3px; }

@media (max-width: 768px) {
  .banner {
    height: 300px; }
    .banner h1 {
      font-size: 250%;
      top: 30%; }
  .productos-grid-mesa {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "producto-once producto-tres" "producto-cuatro producto-cinco"; }
    .productos-grid-mesa img {
      width: 38vw; }
    .productos-grid-mesa div {
      width: 38vw; }
    .productos-grid-mesa h3 {
      font-size: 120%;
      font-weight: 700; }
    .productos-grid-mesa p {
      font-size: 100%;
      padding: 4px 4px; }
    .productos-grid-mesa button {
      margin-left: 4px;
      margin-bottom: .5rem;
      padding: 2px; } }

@media (max-width: 425px) {
  .productos-grid-mesa {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "producto-once" "producto-tres" "producto-cuatro"  "producto-cinco"; }
    .productos-grid-mesa img {
      width: 68vw; }
    .productos-grid-mesa div {
      width: 68vw; }
    .productos-grid-mesa h3 {
      font-size: 115%;
      font-weight: 700; }
    .productos-grid-mesa p {
      font-size: 90%;
      padding: 4px 4px; }
    .productos-grid-mesa button {
      margin-left: 4px;
      margin-bottom: .5rem;
      padding: 2px; } }

.productos-grid-rol {
  margin: 2rem 0rem 1rem 1.5rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  grid-template-areas: "producto-siete producto-ocho producto-nueve" "producto-diez . ."; }
  .productos-grid-rol img {
    width: 28vw;
    margin-bottom: .5rem; }
  .productos-grid-rol div {
    width: 28vw;
    padding: 3px; }
  .productos-grid-rol h3 {
    color: #e10e82;
    background-color: #e10e8223;
    padding: 6px;
    font-size: 160%;
    font-weight: 700; }
  .productos-grid-rol p {
    font-size: 120%;
    padding: 8px 4px; }
  .productos-grid-rol button {
    margin-left: 8px;
    margin-bottom: 1rem;
    padding: 3px; }

@media (max-width: 768px) {
  .productos-grid-rol {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "producto-siete producto-ocho" "producto-nueve producto-diez"; }
    .productos-grid-rol img {
      width: 38vw; }
    .productos-grid-rol div {
      width: 38vw; }
    .productos-grid-rol h3 {
      font-size: 120%;
      font-weight: 700; }
    .productos-grid-rol p {
      font-size: 100%;
      padding: 4px 4px; }
    .productos-grid-rol button {
      margin-left: 4px;
      margin-bottom: .5rem;
      padding: 2px; } }

@media (max-width: 425px) {
  .productos-grid-rol {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "producto-siete" "producto-ocho" "producto-nueve"  "producto-diez"; }
    .productos-grid-rol img {
      width: 68vw; }
    .productos-grid-rol div {
      width: 68vw; }
    .productos-grid-rol h3 {
      font-size: 115%;
      font-weight: 700; }
    .productos-grid-rol p {
      font-size: 90%;
      padding: 4px 4px; }
    .productos-grid-rol button {
      margin-left: 4px;
      margin-bottom: .5rem;
      padding: 2px; } }

.footer {
  padding: 1rem 0rem;
  background-color: #e10e82;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .footer div {
    color: black;
    text-align: center;
    font-size: 120%;
    padding: 0rem 1rem; }

.redes {
  list-style: none;
  display: flex;
  justify-content: space-evenly; }
  .redes img {
    height: 40px;
    padding: 8px; }

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center; }
    .footer div {
      font-size: 90%; }
    .footer ol {
      margin-bottom: 0rem;
      padding-left: 0rem; } }

@media (max-width: 425px) {
  .footer div {
    font-size: 80%; } }

.contacto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4px;
  grid-template-areas: "contacto formulario"; }

.contacto p {
  font-size: 130%;
  padding: 8px;
  margin: .5rem; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: .5rem; }
  .formulario input {
    margin: .5rem; }
  .formulario textarea {
    margin: .5rem; }
  .formulario button {
    margin-left: 8px;
    margin-bottom: 1rem;
    padding: 3px; }
  .formulario .boton {
    display: flex; }

@media (max-width: 768px) {
  .contacto p {
    font-size: 115%; }
  .contacto button {
    margin-bottom: .5rem;
    padding: 2px; }
  .formulario {
    margin-bottom: 0rem; } }

@media (max-width: 425px) {
  .contacto p {
    font-size: 100%; }
  .contacto button {
    margin-bottom: .5rem;
    padding: 1px; } }

.blog p {
  font-size: 130%;
  padding: 8px; }

.accordion {
  --bs-accordion-color: $negro;
  font-size: 20px;
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem $rosa-transparente;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

.accordion-button {
  color: #e10e82;
  font-size: 25px; }

.accordion-button:not(.collapsed) {
  color: #e10e82;
  background-color: #e10e8223; }

.banner-blog {
  margin: 1rem -2.5rem 0rem -2.5rem;
  background-image: url("https://educacion30.b-cdn.net/wp-content/uploads/2016/06/dixit-main-flickr.jpg");
  height: 350px;
  background-size: cover;
  background-position-y: 60%; }

@media (max-width: 768px) {
  .blog p {
    font-size: 115%;
    padding: 8px; }
  .banner-blog {
    margin: 1rem -2.5rem 0rem -2.5rem;
    background-image: url("https://educacion30.b-cdn.net/wp-content/uploads/2016/06/dixit-main-flickr.jpg");
    height: 300px;
    background-size: cover;
    background-position-y: 60%; }
  .accordion {
    font-size: 15px; }
  .accordion-button {
    font-size: 20px; } }

@media (max-width: 425px) {
  .blog p {
    font-size: 100%;
    padding: 8px; }
  .banner-blog {
    margin: 1rem -2.5rem 0rem -2.5rem;
    background-image: url("https://educacion30.b-cdn.net/wp-content/uploads/2016/06/dixit-main-flickr.jpg");
    height: 200px;
    background-size: cover;
    background-position-y: 60%; } }
