.footer {
    padding: 1rem 0rem;
    background-color: #e10e82;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    div {
        color: $negro;
        text-align: center;
        font-size: 120%;
        padding: 0rem 1rem;
    }
    
}

.redes {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    img {
        height: 40px;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        div {
            font-size: 90%;
        }
    
        ol {
            margin-bottom: 0rem;
            padding-left: 0rem;
        }

    }

}

@media (max-width: 425px) {
    .footer {
        div {
            font-size: 80%;
        }
    }

}