.banner {
    margin: 0rem -2.5rem;
    background-image: url(https://images.unsplash.com/photo-1585504198199-20277593b94f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1017&q=80);
    height: 350px;
    background-size: cover;
    background-position-y: center;

    h1 {
        padding: 0rem 2rem;
        text-align: center;
        font-size: 300%;
        text-shadow: 2px 2px 3px rgb(53, 53, 53);
        text-transform: uppercase;
        position: relative;
        top: 40%;
    }
}

.productos-grid {
    margin: 2rem 0rem 1rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    grid-template-areas:
        "producto-uno producto-dos producto-tres"
        "producto-cuatro producto-cinco producto-seis";
        
    img {
        width: 28vw;
        margin-bottom: .5rem;
    }

    div {
        width: 28vw;
        padding: 3px;
    }

    h3 {
        font-family: $typo-principal;
        color: #e10e82;
        background-color: #e10e8223;
        padding: 6px;
        font-size: 160%;
        font-weight: 700;
    }

    p {
        font-size: 120%;
        padding: 8px 4px;
        margin-bottom: .5rem;
    }

    button {
        margin-left: 8px;
        margin-bottom: 1rem;
        padding: 3px;
    }
}

@media (max-width: 768px) {

    .productos-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "producto-uno producto-dos"
            "producto-tres producto-cuatro"
            "producto-cinco producto-seis";
            
        img {
            width: 38vw;
        }
    
        div {
            width: 38vw;
        }
    
        h3 {
            font-size: 120%;
            font-weight: 700;
        }
    
        p {
            font-size: 100%;
            padding: 4px 4px;
        }
    
        button {
            margin-left: 4px;
            margin-bottom: .5rem;
            padding: 2px;
        }
    }

}

@media (max-width: 425px) {

    .banner h1 {
        font-size: 220%;
        top: 25%;
    }

    .productos-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "producto-uno"
            "producto-dos"
            "producto-tres" 
            "producto-cuatro"
            "producto-cinco" 
            "producto-seis";

            
        img {
            width: 68vw;
        }
    
        div {
            width: 68vw;
        }
    
        h3 {
            font-size: 115%;
            font-weight: 700;
        }
    
        p {
            font-size: 90%;
            padding: 4px 4px;
        }
    
        button {
            margin-left: 4px;
            margin-bottom: .5rem;
            padding: 2px;
        }
    }

}